@charset "UTF-8";
/* CSS Document */

html {
	background-color:#000000;
}

body {
	margin:50px 0px; padding:0px;
	text-align:center;
	background-color:#09F;
}

ul li {
	list-style-type:none;
}

li {
	margin-top:1em;
}

a {
	font-size:25px;
}